svg {
    width: 100%;
    height: 100%;
    position: relative;
}            

#node-container[data-complete] {
    stroke: black;
    stroke-width 2;
}

/****NODE****/
.node {
    pointer-events: all;
    fill: #2980b9;
    stroke: #FFFFF7;
    stroke-width:1.5px;
}

.node-text {
    font-family: "Droid Sans Mono";
    font-size: 17px;
    text-anchor: middle;
    pointer-events: none;
    -webkit-user-select: none;
    fill: #FFFFF7;
}

/*Drag Origin*/
.node[data-drag-origin] {
    stroke-width: 2;
    transition: stroke-width 0.1s;
}

.node[data-drag-origin] + text {
    fill: #FFFFF7;
} 

/*Valid Drop*/
.node[data-valid-drop] {
    stroke-dasharray: 5 4;
    stroke: #FFFFF7;
}

/*Drop Target*/
.node[data-drop-target] {
    stroke-dasharray: 5.5 4;
}


/****VERTEX****/
.vertex {
    stroke: #FFFFF7;
    stroke-width: 1.5;
    opacity: 1;
    fill: none;
    marker-end: url(#Arrow2Lend);
}

#Arrow2Lend path {
    fill: #FFFFF7;
}

/****NODE TRACER****/
.node-tracer {
    pointer-events: none;
    fill: none;
    stroke: #27ae60;
    stroke-width: 4;
    cursor: pointer;
    visibility: hidden;
    transform: none;   
}

.node-tracer[data-tracing="false"] {
    transform: none !important;
    transition: none !important;
}

.node-tracer[data-tracing="done"] {
    transition: none !important;
}

.node-tracer[data-tracing="true"] {
    transition: transform .7s ease-out; 
}

    